
<div class="containner_bigcard">
  <a href="www.google.com">
    <div class="image">
      <img src="https://image.api.playstation.com/cdn/UP0700/CUSA09072_00/BsfCJ1Wf73dwnEmGcmmbsSFa8AIZ06Ru.png"
        alt="" height="200px">
    </div>
    <div class="name">
      <h2>Saiu o novo jogo de DBZ!</h2>
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla veritatis pariatur ex veniam, quod quaerat, recusandae commodi omnis expedita ea obcaecati voluptatem qui rerum amet aliquam, ratione et praesentium harum.
    </div>
  </a>
</div>
