<app-menu-title></app-menu-title>
<div class="articles" height="600px">
  <div class="articles_main">
    <app-big-card [id]="getBigCard().id"
    [cardTitle]="getBigCard().title"
    [photoCover]="getBigCard().photo"
    [cardDescription]="getBigCard().description">></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card *ngFor="let smallCard of getSmallCards()"
      [id]="smallCard.id"
      [cardTitle]="smallCard.title"
      [publishedDate]="smallCard.publishedDate"
      [photoCover]="smallCard.photo">
    </app-small-card>
  </div>
</div>
